<button phx-click="toggle"><%= if !@started, do: "Start", else: "Stop" %></button>
<%= if in_progress(@loc) do %>
  <button phx-click="restart">Reset</button>
<% end %>
<div class="board" id="board" phx-hook="MoveRoomba">
  <%= for y <- 0..@size do %>
  <div class="row">
    <%= for x <- 0..@size do %>
      <div id="<%= cell_name({x, y}) %>" class="col">
        &nbsp;
      </div>
    <% end %>
  </div>
  <% end %>
</div>
